 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/video-1.png');
  background-size: cover, cover;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
}

.u-section-1 .u-sheet-1 {
  min-height: 515px;
}

.u-section-1 .u-image-1 {
  width: 768px;
  height: 242px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 406px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
    height: 227px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 107px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1076px;
}

.u-section-2 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 591px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 25px 0;
}

.u-section-2 .u-image-1 {
  height: 506px;
  object-position: 50% 100%;
  --radius: 25px;
  margin: -2px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 591px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-group-elements-1 {
  min-height: 250px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 515px;
}

.u-section-2 .u-text-2 {
  font-family: Questrial;
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-family: Questrial;
  margin: 30px 30px 0;
}

.u-section-2 .u-text-5 {
  margin: 30px 30px 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 70px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 487px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: 412px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 487px;
  }

  .u-section-2 .u-group-elements-1 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 316px;
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 409px;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: -123px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1526px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-2 .u-image-1 {
    height: 566px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-bottom: -26px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1421px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-1 {
    margin-bottom: 0;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.75rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 58px;
    padding: 10px 23px 11px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 623px;
}

.u-section-3 .u-text-1 {
  font-family: Lora;
  margin: 70px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 30px;
  margin-bottom: -6px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 20%;
  grid-template-columns: repeat(5, 20%);
  min-height: 400px;
  --gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  height: 208px;
  --radius: 20px;
  margin-top: 44px;
  margin-bottom: 0;
  width: 100%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 19px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  height: 208px;
  --radius: 20px;
  margin-top: 44px;
  margin-bottom: 0;
  width: 100%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 19px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  height: 208px;
  --radius: 20px;
  margin-top: 44px;
  margin-bottom: 0;
  width: 100%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 19px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-image-4 {
  height: 208px;
  --radius: 20px;
  margin-top: 44px;
  margin-bottom: 0;
  width: 100%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 19px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-image-5 {
  height: 208px;
  --radius: 20px;
  margin-top: 44px;
  margin-bottom: 0;
  width: 100%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-btn-5 {
  --radius: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 330px;
    grid-gap: 0px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 700px;
  }

  .u-section-3 .u-image-1 {
    height: 220px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 220px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 220px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 30px;
  }

  .u-section-3 .u-image-4 {
    height: 220px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 30px;
  }

  .u-section-3 .u-image-5 {
    height: 220px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1857px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(1, 100%);
    min-height: 1181px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1971px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 70px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 320px;
  }

  .u-section-3 .u-image-2 {
    height: 320px;
  }

  .u-section-3 .u-image-3 {
    height: 320px;
  }

  .u-section-3 .u-image-4 {
    height: 320px;
  }

  .u-section-3 .u-image-5 {
    height: 320px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 893px;
}

.u-section-4 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 570px;
  margin: 30px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  --gap: 10px;
  min-height: 570px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(to bottom, rgba(39, 68, 114, 0.5), rgba(255, 255, 255, 0.5)), url("images/Engagement.png");
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  --radius: 20px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-2 {
  font-family: Questrial;
  margin: 343px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-4 .u-list-1 {
    width: 485px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 400px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 173px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.75rem;
    margin-bottom: -142px;
    padding: 9px 23px 11px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 416px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 34px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 342px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 342px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 35px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 204px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 417px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 35px 0 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 343px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 343px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 205px;
  }
}